.myBtn {
    margin: 5px;
    border-radius: 3px;
    padding: 5px 20px;
    width: fit-content;
    height: fit-content;
    border: 2px #15449e solid;
    color: white;
    background: #15449e;
    cursor: pointer;
}