* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root {
    min-width: 100vw;
    background: #E5E5E5;
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.App {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 390px;
    min-height: 100vh;
}

h1 {
    font-size: 1.5em;
}

.post {
    width: 100%;
    display: flex;
    padding: 15px;
    margin: 15px 0 0;
}

.post__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.post__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.post__description {
    max-width: 80%;
}

.postList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    justify-content: center;
    gap:5px;
}

.postList__title {
    font-size: 2em;
    text-align: center;
}

.postForm {
    margin: 5px;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


