* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

body {
    overflow-y: scroll;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root {
    width: 100%;
    background: #D9D9D9;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.App {
    position: relative;
    overflow: hidden;
    background: #E6EBE6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 1400px;
    width: 100%;
    min-width: 360px;
    min-height: 100vh;
}

.App._lock {
    position: fixed;
}

.app-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #E6EBE6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

.lockScreen {
    display: none;
    z-index: 5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.lockScreen._active {
    display: block;
}

h1 {
    font-size: 1.5em;
}

.post {
    width: 100%;
    display: flex;
    padding: 15px;
    margin: 15px 0 0;
}

.post__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.post__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.post__description {
    max-width: 80%;
}

.postList {
    gap: 10px;
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.postList__title {
    font-size: 2em;
    text-align: center;
}

.postForm {
    margin: 5px;
    border-radius: 3px;
    padding: 10px 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sideMenuContainer {
    z-index: 6;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    left: 0;
    top: 0;
    height: 100vh;
    width: 280px;
    background: #15449e;
    transform: translate(-100%);
    transition: 0.4s;
}

.sideMenuContainer._active {
    transform: translate(0);
}

.list {
    margin: 60px 0 0 20px;
    list-style-type: none;
    font-weight: 700;
    font-size: 1.5em;
    color: white;
}

.list__item {
    color: white;
    cursor: pointer;
    margin: 10px 0;
    text-decoration: none;
}

.list__item.inCart{
    display: block;
    width: 100%;
    height: 100%;
}

.list__item:hover {
    color: gray;
}

a {
    color: white;
}

.about__container {
    padding: 10px 35px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.about-title {
    margin: 15px 0;
}

.developer__list,
.stack__list {
    list-style: none;
    padding: 0 0 0 10px;
}

.stack__item {
    margin: 5px 0;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    list-style: none;
}

.stack__item:before {
    margin: 0 10px 0 0;
    display: block;
    content: '';
    width: 40px;
    height: 40px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.react:before {
    background-image: url("../assets/icons/react.png");
}

.node:before {
    background-image: url("../assets/icons/nodeJS.png");
}

.mongo:before {
    background-image: url("../assets/icons/mongo.webp");
}

.router:before {
    background-image: url("../assets/icons/react-router.png");
}

.axios:before {
    background-image: url("../assets/icons/Axios.png");
}

.mongoose:before {
    background-image: url("../assets/icons/mongoose.png");
}

.redux:before {
    background-image: url("../assets/icons/redux.svg");
}

.express:before {
    background-image: url("../assets/icons/express.svg");
}

.cart__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cart__list {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    margin: 0;
    padding: 10px;
}

.cart-item {
    flex-basis: 80%;
    min-width: 545px;
    box-shadow: 0 8px 23px rgba(80, 107, 82, 0.13);
    border-radius: 6px;
    background: white;
    padding: 5px 15px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item__img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 100px;
}

.cart-item__container {
    gap: 10px;
    padding: 10px;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cart-item__price {
    font-weight: 600;
    font-size: 1.3rem;
}

.cart-item__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
    flex-grow: 1;
}

.cart-item__param,
.cart-item__value {
    min-width: fit-content;
}

.cart-item__param-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.cart-item__dots {
    min-width: 5px;
    height: 0.9rem;
    margin: 0 3px;
    flex-grow: 1;
    border-bottom: 1px dotted rgb(33, 37, 41);
}

.cart-item__name {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-weight: 600;
}

.delete_cart-item {
    background: url("../../src/assets/icons/delete.svg") center no-repeat;
    background-size: contain;
    border: none;
    min-width: 30px;
    width: 30px;
    height: 30px;
}

.cart__wrapper {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cart__totalPrice {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0 40px;
    display: flex;
    justify-content: flex-end;
}

.emptyCart__msg {
    font-size: 1.5em;
    padding: 40px;
    width: 100%;
    text-align: center;
}

.error {
    color: red;
}

.mainContainer {
    padding: 50px;
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 400px;
    flex-shrink: 0;
}

.rightContainer {
    height: 100%;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media (max-width: 1150px) {

    .mainContainer {
        flex-direction: column;
        padding: 0;
        justify-content: flex-start;
    }

    .leftContainer {
        flex-basis: auto;
    }
}

@media (max-width: 675px) {

    .cart-item__info {
        width: 100%;
    }

    .cart-item__param-container {
        font-size: 0.9rem;
    }

    .cart-item {
        min-width: 317px;
    }

    .cart-item__container {
        flex-direction: column;
    }
}