* {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

body {
    overflow-y: scroll;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root {
    width: 100%;
    background: #E5E5E5;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.App {
    position: relative;
    overflow: hidden;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 390px;
    min-height: 100vh;
}

.App._lock {
    height: 100vh;
    overflow-y: hidden;
}

.app-container {
    position: relative;
    overflow: hidden;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 390px;
    min-height: 100vh;
}

.lockScreen {
    display: none;
    z-index: 5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.lockScreen._active {
    display: block;
}

h1 {
    font-size: 1.5em;
}

.post {
    width: 100%;
    display: flex;
    padding: 15px;
    margin: 15px 0 0;
}

.post__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.post__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.post__description {
    max-width: 80%;
}

.postList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    justify-content: center;
    gap: 5px;
}

.postList__title {
    font-size: 2em;
    text-align: center;
}

.postForm {
    margin: 5px;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sideMenuContainer {
    z-index: 6;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    left: 0;
    top: 0;
    height: 100vh;
    width: 80%;
    background: #FFCA99;
    transform: translate(-100%);
    transition: 0.4s;
}

.sideMenuContainer._active {
    transform: translate(0);
}

.list {
    margin: 60px 0 0 20px;
    list-style-type: none;
    font-weight: 700;
    font-size: 1.5em;
    color: grey;
}

.list__item {
    color: grey;
    cursor: pointer;
    margin: 10px 0;
    text-decoration: none;
}

.list__item.inCart{
    display: block;
    width: 100%;
    height: 100%;
}

.list__item:hover {
    color: #FFA451;
}

a {
    color: grey;
}

.about__container {
    padding: 10px 35px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.about-title {
    margin: 15px 0;
}

.developer__list,
.stack__list {
    list-style: none;
    padding: 0 0 0 10px;
}

.stack__item {
    margin: 5px 0;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    list-style: none;
}

.stack__item:before {
    margin: 0 10px 0 0;
    display: block;
    content: '';
    width: 40px;
    height: 40px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.react:before {
    background-image: url("../assets/icons/react.png");
}

.node:before {
    background-image: url("../assets/icons/nodeJS.png");
}

.mongo:before {
    background-image: url("../assets/icons/mongo.webp");
}

.router:before {
    background-image: url("../assets/icons/react-router.png");
}

.axios:before {
    background-image: url("../assets/icons/Axios.png");
}

.mongoose:before {
    background-image: url("../assets/icons/mongoose.png");
}

.express:before {
    background-image: url("../assets/icons/express.svg");
}

.cart__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cart__list {
    margin: 0;
    padding: 30px 40px 30px;
}

.cart-item {
    border-radius: 5px;
    background: rgba(255, 164, 81, 0.2);
    padding: 5px 15px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item__container {
    margin-right: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.delete_cart-item {
    background: url("../../src/assets/icons/delete.svg") center no-repeat;
    background-size: contain;
    border: none;
    min-width: 15px;
    width: 15px;
    height: 15px;
}

.cart__wrapper {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cart__totalPrice {
    padding: 0 40px;
    display: flex;
    justify-content: flex-end;
}

.emptyCart__msg {
    font-size: 1.5em;
    padding: 40px;
    width: 100%;
    text-align: center;
}